@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

@font-face {
    font-family: 'Mukta';
    src: url('https://fonts.googleapis.com/css2?family=Mukta&display=swap') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @layer base {
    html{
        font-family: 'Mukta';
    }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;